*{
    font-family: 'poppins',sans-serif;   
}
.banner{
       background-image:url(/images/img1.jpg);
       background-size:cover;
       background-repeat: no-repeat;
       padding:300px 0;
       height: 10px;

}
.skills-padding{
   padding:70px 0;
}